// COMMON
body {
  font-size: 14px;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 1.4;
  font-weight: 400;
  word-spacing: 10;
  background-color: palegoldenrod;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  display: block;
  background-repeat: no-repeat;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  background-color: inherit;
}

// HEADER
header {
  background-color: #000;
  border-bottom: 1px solid #b3b3b3;
  .inner {
    height: 90px;
    display: flex;
    
  }
  // 좌측 서브 메뉴
  .left-sub-menu {
    ul.menu {
      display: flex;
      li {
        padding: 10px 10px;
        &:first-child {
          padding-left: 0px;
        }
        a {
          color: #999;
          font-size: 12px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  // 좌측 메인 메뉴
  .left-main-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 0;
    margin: auto 0;
    ul.menu {
      display: flex;
      > li.item {
        position: absolute;
        display: inline-block;
        &:first-child {
          margin: 0 5px;
        }
        &:nth-child(2) {
          margin-left: 45px;
          & ~ li.item {
            > .item__contents {
              position: relative;
              display: none;
              &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: 30px;
                left: 0;
                top: 91px;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 2;
              }
              &::after {
                content: "";
                position: absolute;
                top: -7px;
                width: 35px;
                height: 3px;
                background-color: #fff;
              }
              .contents__menu {
                position: absolute;
                width: 500px;
                display: flex;
                z-index: 2;
                li {
                  a {
                    position: relative;
                    margin: 0 10px;
                    &:hover::after {
                      content: "";
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 100%;
                      height: 1px;
                      background-color: #fff;
                    }
                  }
                }
              }
            }
            &:hover .item__contents {
              display: block;
            }
          }
        }
        &:nth-child(3) {
          margin-left: 165px;
        }
        &:nth-child(4) {
          margin-left: 255px;
        }
        &:nth-child(5) {
          margin-left: 345px;
        }
        .item__name {
          display: inline-block;
          height: 46px;
          cursor: pointer; 
        }
      }      
    }
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(3) > .item__contents > ul.contents__menu {
    margin-left: -135px;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(4) > .item__contents > ul.contents__menu {
    margin-left: -105px;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(5) > .item__contents > ul.contents__menu {
    margin-left: -65px;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents {
    position: relative;
    display: none;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner {
    &::before {
      content: "";
      position: fixed;
      top: 90px;
      left: 0;
      width: 100%;
      height: 750px;
      background-color: #333;
      z-index: 3;
    }
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > h1 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding: 40px 0;
    z-index: 3;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div {
    position: absolute;
    top: 95px;
    z-index: 3;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div > ul {
    display: flex;
    flex-wrap: wrap;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div > ul > li {
    width: 155px;
    padding-right: 28px;
    &:nth-of-type(6) ~ li {
      position: relative;
      top: -170px;
    }
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div > ul li > h3 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div > ul li > h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 1px;
    background-color: #999;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div ul li > h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 1px;
    background-color: #999;
  }  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div ul li ul {
    margin: 20px 0;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div ul li ul li {
    margin: 15px 0;
    text-align: center;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div ul li ul li a {
    color: #999;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div ul li ul li a:hover {
    color: #04c0d1;
    text-decoration: underline;
  }

  // 로고
  .logo {
    position: absolute;
    width: 140px;
    height: 47px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  // 우측 서브 메뉴
  .right-sub-menu {
    position: absolute;
    right: 0;
    ul.menu {
      display: flex;
      li {
        padding: 10px 10px;
        &:last-child {
          padding-right: 0;
        }
        a {
          font-size: 12px;
          color: #999;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // 우측 메인 메뉴
  .right-main-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0;
    margin: auto 0;
    ul.menu {
      display: flex;
      > li.item {
        position: relative;
        display: inline-block;
        margin-right: 60px;
        &:nth-child(1) > .item__contents {
          position: relative;
          display: none;
          .contents__menu {
            position: absolute;
            width: 500px;
            display: flex;
            z-index: 2;
          }
          &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 30px;
            left: 0;
            top: 91px;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 2;
          }
          &::after {
            content: "";
            position: absolute;
            top: -7px;
            width: 35px;
            height: 3px;
            background-color: #fff;
          }
        }
        &:nth-child(3) {
          margin-right: 70px;
          & > .item__contents {
            position: relative;
            display: none;
            .contents__menu {
              position: absolute;
              width: 500px;
              display: flex;
              z-index: 2;
            }
            &::before {
              content: "";
              position: fixed;
              width: 100%;
              height: 30px;
              left: 0;
              top: 91px;
              background-color: rgba(0, 0, 0, 0.9);
              z-index: 2;
            }
            &::after {
              content: "";
              position: absolute;
              top: -7px;
              width: 35px;
              height: 3px;
              background-color: #fff;
            }
          }
        }
        &:nth-child(4) {
          margin: 0 10px;
        }
        &:last-child {
          margin: 0 10px;
        }
        .item__name {
          display: inline-block;
          height: 46px;
          cursor: pointer;
        }
        .item__contents {
          display: block;
          li a {
            position: relative;
            margin: 0 10px;
            &:hover::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: #fff;
            }
          }
        }
        &:hover .item__contents {
          display: block;
        }
      }
    }
  }
}  
@at-root .right-main-menu ul.menu li.item:nth-child(1) > .item__contents > ul.contents__menu {
  margin-left: -135px;
}
@at-root .right-main-menu ul.menu li.item:nth-child(3) > .item__contents > ul.contents__menu {
  margin-left: -105px;
}

@at-root .left-main-menu ul.menu li.item:nth-child(1) > .closed {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 50%;  
  display: none;
  cursor: pointer;
}
@at-root .left-main-menu ul.menu li.item:nth-child(1) > .closed > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

// 박스오피스
.boxoffice {
  width: 100%;
  background-color: #000;
  .inner {
    height: 830px;
    background-image: url('../image/hostage_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.87);
    }
  }
  .inner > h2:nth-child(1) {
    position: absolute;
    width: 80px;
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 16px;
    color: #fff;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 2px;
      background-color: #444;
    }
  }
  .inner > h2 {
    position: absolute;
    right: 40px;
    top: 90px;
    z-index: 1;
  }
  .inner > h2 a {
    color: #888;
    font-size: 16px;
    &:hover {
      text-decoration: underline;
    }
    &::after {
      position: absolute;
      top: -15px;
      content: "+";
      font-size: 30px;
      padding-left: 5px;
    }
    
  }
  .inner .movies {
    display: flex;
    position: absolute;
    top: 125px;
    z-index: 1;
    [class*=like] {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 35px;
      background-color: rgba(0, 0, 0, 0.9);
      border: 1px solid #888;
      border-radius: 5px;
      box-sizing: border-box;
      cursor: pointer;
      span {
        color: #fff;
        font-weight: 500;
        &:nth-child(1) {
          font-size: 20px;
        }
        &:nth-child(2) {
          font-size: 14px;
          padding-left: 8px;
        }
      }
    }
    [class*=reserve] {
      width: calc(245px - 90px);
      height: 35px;
      background-color: rgb(29, 145, 165);
      border-radius: 5px;
      border: 0px;
      margin-left: 10px;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
    }
    [class=bottom__btn] {
      display: flex;
      width: 250px;
      margin-top: 20px;
    }
    [class=img] {
      position: relative;
      width: 244px;
      height: 350px;
      border-radius: 5px;

    }
    [class*=movie] {

      margin-left: 30px;
      &:nth-child(1) {
        &::after {
          content: "1";
          position: relative;
          top: -405px;
          left: 15px;
          color: #fff;
          font-size: 32px;
          text-shadow: 2px 2px #000;
          font-style: italic;
        }
      }
      &:nth-child(2) {
        &::after {
          content: "2";
          position: relative;
          top: -405px;
          left: 15px;
          color: #fff;
          font-size: 32px;
          text-shadow: 2px 2px #000;
          font-style: italic;
        }
      }
      &:nth-child(3) {
        &::after {
          content: "3";
          position: relative;
          top: -405px;
          left: 15px;
          color: #fff;
          font-size: 32px;
          text-shadow: 2px 2px #000;
          font-style: italic;
        }
      }
      &:nth-child(4) {
        &::after {
          content: "4";
          position: relative;
          top: -405px;
          left: 15px;
          color: #fff;
          font-size: 32px;
          text-shadow: 2px 2px #000;
          font-style: italic;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
    [class=poster] {
      position: relative;
      cursor: pointer;
      &:hover {
        &::after {
          content: "";
          position: absolute;
          width: 244px;
          height: 350px;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.8);
          z-index: 1;
        }
      }
    }
    [class=text] {
      position: absolute;
      top: 0;
      padding: 10px;
      color: #fff;
      font-weight: 500;
      word-break: keep-all;
      z-index: 2;
      opacity: 0;
    }
  }
  [class=bar] {
    width: 80%;
    opacity: 0.5;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0;
  }
  [class=score] {
    position: absolute;
    color: #fff;
    left: 50%;
    bottom: 30px ;
    transform: translateX(-50%);
    font-weight: 500;
    opacity: 0;
    z-index: 2;
    span {
      &:nth-child(2) {
        font-size: 22px;
        color: rgb(0, 121, 130);
        padding-left: 10px;
      }
    }
  }
  [class=poster]:hover {
    [class=text] {
      transition: all 0.8s;
      opacity: 1;
    }
    [class=bar] {
      transition: all 0.8s;
      opacity: 1;
    }
    [class=score] {
      transition: all 0.8s;
      opacity: 1;
    }
  }

  .quickmenus {
    display: flex;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 570px;
    width: 1100px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    ul {
      display: flex;
      justify-content: center;
      li {
        padding-left: 180px;   
        a {
          &:hover {
            text-decoration: underline;
          }
        }
        &:nth-child(2) {
          position: relative;
          ::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 30px;
            top: -3px;
            left: 145px;
            background-image: url('../image/ico-schedule-main.png');
            background-repeat: no-repeat;
          }
          ::before {
            content: "";
            position: absolute;
            left: 60px;
            width: 1px;
            height: 25px;
            background-color: #777;
          }
        }
        &:nth-child(3) {
          position: relative;
          padding-left: 220px;
          ::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 30px;
            top: -3px;
            left: 180px;
            background-image: url('../image/ico-boxoffice-main.png');
            background-repeat: no-repeat;
          }
          ::before {
            content: "";
            position: absolute;
            left: 90px;
            width: 1px;
            height: 25px;
            background-color: #777;
          }
        }
        &:nth-child(4) {
          position: relative;
          padding-left: 205px;
          ::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            top: -3px;
            left: 160px;
            background-image: url('../image/ico-quick-reserve-main.png');
            background-repeat: no-repeat;
          }
          ::before {
            content: "";
            position: absolute;
            left: 80px;
            width: 1px;
            height: 25px;
            background-color: #777;
          }
        }   
      }
    }
  }
  .mouse__animation {
    position: relative;
    top: -100px;
    left: 50%;
    width: 0;
    height: 0px;
    .material-icons {
      display: inline-block;
      color: #fff;
      animation-duration: 1s;
      animation-name: slidein;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    @keyframes slidein {
      from {
        margin-top: 15px;
      }

      to {
        margin-top: 0px;
      }
    }
  }
}

.benefit {
  height: 830px;
}