// COMMON
body {
  font-size: 14px;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 1.4;
  font-weight: 400;
  word-spacing: 10;
  background-color: palegoldenrod;
}
a {
  text-decoration: none;
  color: #fff;
}
img {
  display: block;
  background-repeat: no-repeat;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  background-color: inherit;
}

// HEADER
header {
  background-color: #000;
  border-bottom: 1px solid #b3b3b3;
  .inner {
    height: 90px;
    display: flex;
    
  }
  .left-sub-menu {
    ul.menu {
      display: flex;
      li {
        padding: 10px 10px;
        &:first-child {
          padding-left: 0px;
        }
        a {
          color: #999;
          font-size: 12px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .left-main-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 0;
    margin: auto 0;
    ul.menu {
      display: flex;
      > li.item {
        position: absolute;
        display: inline-block;
        &:first-child {
          margin: 0 5px;
        }
        &:nth-child(2) {
          margin-left: 45px;
          & ~ li.item {
            > .item__contents {
              position: relative;
              display: none;
              &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: 30px;
                left: 0;
                top: 91px;
                background-color: rgba(0, 0, 0, 0.8);
              }
              &::after {
                content: "";
                position: absolute;
                top: -7px;
                width: 35px;
                height: 3px;
                background-color: #fff;
              }
              .contents__menu {
                position: absolute;
                width: 500px;
                display: flex;
                li {
                  a {
                    position: relative;
                    margin: 0 10px;
                    &:hover::after {
                      content: "";
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 100%;
                      height: 1px;
                      background-color: #fff;
                    }
                  }
                }
              }
            }
            &:hover .item__contents {
              display: block;
            }
          }
        }
        &:nth-child(3) {
          margin-left: 165px;
        }
        &:nth-child(4) {
          margin-left: 255px;
        }
        &:nth-child(5) {
          margin-left: 345px;
        }
        .item__name {
          display: inline-block;
          height: 46px;
          cursor: pointer; 
        }
      }      
    }
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(3) > .item__contents > ul.contents__menu {
    margin-left: -135px;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(4) > .item__contents > ul.contents__menu {
    margin-left: -105px;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(5) > .item__contents > ul.contents__menu {
    margin-left: -65px;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents {
    position: relative;
    display: none;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner {
    &::before {
      content: "";
      position: fixed;
      top: 90px;
      left: 0;
      width: 100%;
      height: 750px;
      background-color: #333;
      z-index: 1;
    }
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > h1 {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    padding: 40px 0;
    z-index: 2;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div {
    position: absolute;
    top: 95px;
    z-index: 2;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div > ul {
    display: flex;
    flex-wrap: wrap;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div > ul > li {
    width: 155px;
    padding-right: 28px;
    &:nth-of-type(6) ~ li {
      position: relative;
      top: -170px;
    }
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div > ul li > h3 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div > ul li > h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 1px;
    background-color: #999;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div ul li > h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 1px;
    background-color: #999;
  }  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div ul li ul {
    margin: 20px 0;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div ul li ul li {
    margin: 15px 0;
    text-align: center;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div ul li ul li a {
    color: #999;
  }
  @at-root .left-main-menu ul.menu li.item:nth-child(1) > .item__contents > div.inner > div ul li ul li a:hover {
    color: #04c0d1;
    text-decoration: underline;
  }


  .logo {
    position: absolute;
    width: 140px;
    height: 47px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .right-sub-menu {
    position: absolute;
    right: 0;
    ul.menu {
      display: flex;
      li {
        padding: 10px 10px;
        &:last-child {
          padding-right: 0;
        }
        a {
          font-size: 12px;
          color: #999;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .right-main-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0;
    margin: auto 0;
    ul.menu {
      display: flex;
      > li.item {
        position: relative;
        display: inline-block;
        margin-right: 60px;
        &:nth-child(1) > .item__contents {
          position: relative;
          display: none;
          .contents__menu {
            position: absolute;
            width: 500px;
            display: flex;
          }
          &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 30px;
            left: 0;
            top: 91px;
            background-color: rgba(0, 0, 0, 0.8);
          }
          &::after {
            content: "";
            position: absolute;
            top: -7px;
            width: 35px;
            height: 3px;
            background-color: #fff;
          }
        }
        &:nth-child(3) {
          margin-right: 70px;
          & > .item__contents {
            position: relative;
            display: none;
            .contents__menu {
              position: absolute;
              width: 500px;
              display: flex;
            }
            &::before {
              content: "";
              position: fixed;
              width: 100%;
              height: 30px;
              left: 0;
              top: 91px;
              background-color: rgba(0, 0, 0, 0.9);
            }
            &::after {
              content: "";
              position: absolute;
              top: -7px;
              width: 35px;
              height: 3px;
              background-color: #fff;
            }
          }
        }
        &:nth-child(4) {
          margin: 0 10px;
        }
        &:last-child {
          margin: 0 10px;
        }
        .item__name {
          display: inline-block;
          height: 46px;
          cursor: pointer;
        }
        .item__contents {
          display: block;
          li a {
            position: relative;
            margin: 0 10px;
            &:hover::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 1px;
              background-color: #fff;
            }
          }
        }
        &:hover .item__contents {
          display: block;
        }
      }
    }
  }
}  
@at-root .right-main-menu ul.menu li.item:nth-child(1) > .item__contents > ul.contents__menu {
  margin-left: -135px;
}
@at-root .right-main-menu ul.menu li.item:nth-child(3) > .item__contents > ul.contents__menu {
  margin-left: -105px;
}

@at-root .left-main-menu ul.menu li.item:nth-child(1) > .closed {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 50%;  
  display: none;
  cursor: pointer;
}
@at-root .left-main-menu ul.menu li.item:nth-child(1) > .closed > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.boxoffice {
  background-image: url('../image/hostage_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 830px;
  position: relative;
  z-index: -1;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.97);
    z-index: -1;
  }
}


.benefit {
  height: 830px;
}